<!-- templates/messenger.html -->
<div class="messenger-container">
  <div class="chat-header">
    <ul class="chat-tabs">
      <!-- Вкладки формируются динамически из списка NPC -->
      {{#each chats}}
        <li class="chat-tab {{#if @first}}active{{/if}}" data-npc-id="{{id}}">{{name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="chat-history">
    <!-- История сообщений выбранного чата будет подгружаться сюда -->
  </div>
  <div class="chat-input">
    <input type="text" name="message" placeholder="Введите сообщение">
    <button class="send-button">Отправить</button>
  </div>
</div>
